In [1]:
import csv
import pandas as pd

In [2]:
humidity_df = pd.read_csv("humidity.csv")

In [9]:
sum(humidity_df["Chicago"].isna())/len(humidity_df["Chicago"])

0.020186180804460375

In [10]:
humidity_df["Chicago"]

0         NaN
1        64.0
2        69.0
3         NaN
4        68.0
5        68.0
6         NaN
7        68.0
8         NaN
9         NaN
10       69.0
11       64.0
12       55.0
13       59.0
14       59.0
15       64.0
16       64.0
17       64.0
18       59.0
19       59.0
20        NaN
21        NaN
22       68.0
23       68.0
24       68.0
25       68.0
26       68.0
27       68.0
28       62.0
29       62.0
         ...
40146    39.0
40147    42.0
40148    44.0
40149    39.0
40150    42.0
40151    39.0
40152    51.0
40153    57.0
40154    73.0
40155    93.0
40156    88.0
40157    93.0
40158    93.0
40159    88.0
40160    93.0
40161    93.0
40162    93.0
40163    88.0
40164    73.0
40165    73.0
40166    57.0
40167    57.0
40168    48.0
40169    54.0
40170    54.0
40171    48.0
40172    45.0
40173    39.0
40174    48.0
40175    61.0
Name: Chicago, Length: 40176, dtype: float64

In [11]:
inter_df = humidity_df.copy()

In [12]:
inter_df["Chicago"].interpolate(method="linear")

0              NaN
1        64.000000
2        69.000000
3        68.500000
4        68.000000
5        68.000000
6        68.000000
7        68.000000
8        68.333333
9        68.666667
10       69.000000
11       64.000000
12       55.000000
13       59.000000
14       59.000000
15       64.000000
16       64.000000
17       64.000000
18       59.000000
19       59.000000
20       62.000000
21       65.000000
22       68.000000
23       68.000000
24       68.000000
25       68.000000
26       68.000000
27       68.000000
28       62.000000
29       62.000000
           ...
40146    39.000000
40147    42.000000
40148    44.000000
40149    39.000000
40150    42.000000
40151    39.000000
40152    51.000000
40153    57.000000
40154    73.000000
40155    93.000000
40156    88.000000
40157    93.000000
40158    93.000000
40159    88.000000
40160    93.000000
40161    93.000000
40162    93.000000
40163    88.000000
40164    73.000000
40165    73.000000
40166    57.000000
40167    57.000000
40168    48.000000
40169    54.000000
40170    54.000000
40171    48.000000
40172    45.000000
40173    39.000000
40174    48.000000
40175    61.000000
Name: Chicago, Length: 40176, dtype: float64