In [1]:
import csv
import math
import pandas as pd
from datetime import datetime

In [2]:
taxi_trip = pd.read_csv("14_Taxi_Trips.csv", sep = ",")

temperature = pd.read_csv("temperature.csv", sep = ",")
temperature.rename(columns={'Chicago':'temperature'}, inplace=True)
wind_speed = pd.read_csv("wind_speed.csv", sep = ",")
wind_speed.rename(columns={'Chicago':'wind_speed'}, inplace=True)

In [3]:
temperature["datetime"] = pd.to_datetime(temperature["datetime"], \
                                                 format='%m/%d/%y %H:%M').dt.floor('H');
temperature["datetime"] = temperature["datetime"].dt.strftime('%Y/%m/%d %H')
wind_speed["datetime"] = pd.to_datetime(wind_speed["datetime"], \
                                                 format='%m/%d/%y %H:%M').dt.floor('H');
wind_speed["datetime"] = wind_speed["datetime"].dt.strftime('%Y/%m/%d %H')

In [4]:
# Join with taxi dataset by timestamp
taxi_with_weather = pd.merge(taxi_trip, temperature, how='left', left_on='Trip Start Timestamp', 
                                    right_on='datetime')
taxi_with_weather = pd.merge(taxi_with_weather, wind_speed, how='left', left_on='Trip Start Timestamp', 
                                    right_on='datetime')

In [5]:
taxi_with_weather

,Trip Start Timestamp,Pickup Community Area,Count,dayofyear,dayofyear_sin,dayofyear_cos,hour,hour_sin,hour_cos,weekday,lat,lon,datetime_x,temperature,datetime_y,wind_speed
0,2014/07/21 09,1,23,202,0.0,1.0,9,0.0,1.0,0,1.0100,0.6700,2014/07/21 09,291.46,2014/07/21 09,2.0
1,2014/07/21 09,2,21,202,0.0,1.0,9,0.0,1.0,0,1.0000,0.6900,2014/07/21 09,291.46,2014/07/21 09,2.0
2,2014/07/21 09,3,85,202,0.0,1.0,9,0.0,1.0,0,0.9700,0.6600,2014/07/21 09,291.46,2014/07/21 09,2.0
3,2014/07/21 09,4,12,202,0.0,1.0,9,0.0,1.0,0,0.9700,0.6900,2014/07/21 09,291.46,2014/07/21 09,2.0
4,2014/07/21 09,5,19,202,0.0,1.0,9,0.0,1.0,0,0.9500,0.6800,2014/07/21 09,291.46,2014/07/21 09,2.0
5,2014/07/21 09,6,196,202,0.0,1.0,9,0.0,1.0,0,0.9435,0.6542,2014/07/21 09,291.46,2014/07/21 09,2.0
6,2014/07/21 09,7,106,202,0.0,1.0,9,0.0,1.0,0,0.9200,0.6500,2014/07/21 09,291.46,2014/07/21 09,2.0
7,2014/07/21 09,8,1143,202,0.0,1.0,9,0.0,1.0,0,0.9000,0.6300,2014/07/21 09,291.46,2014/07/21 09,2.0
8,2014/07/21 09,9,0,202,0.0,1.0,9,0.0,1.0,0,1.0100,0.8100,2014/07/21 09,291.46,2014/07/21 09,2.0
9,2014/07/21 09,10,1,202,0.0,1.0,9,0.0,1.0,0,0.9800,0.8000,2014/07/21 09,291.46,2014/07/21 09,2.0
10,2014/07/21 09,11,3,202,0.0,1.0,9,0.0,1.0,0,0.9800,0.7700,2014/07/21 09,291.46,2014/07/21 09,2.0
11,2014/07/21 09,12,1,202,0.0,1.0,9,0.0,1.0,0,0.9833,0.7500,2014/07/21 09,291.46,2014/07/21 09,2.0
12,2014/07/21 09,13,1,202,0.0,1.0,9,0.0,1.0,0,0.9500,0.6800,2014/07/21 09,291.46,2014/07/21 09,2.0
13,2014/07/21 09,14,4,202,0.0,1.0,9,0.0,1.0,0,0.9700,0.7200,2014/07/21 09,291.46,2014/07/21 09,2.0
14,2014/07/21 09,15,5,202,0.0,1.0,9,0.0,1.0,0,0.9500,0.7600,2014/07/21 09,291.46,2014/07/21 09,2.0
15,2014/07/21 09,16,12,202,0.0,1.0,9,0.0,1.0,0,0.9500,0.7300,2014/07/21 09,291.46,2014/07/21 09,2.0
16,2014/07/21 09,17,2,202,0.0,1.0,9,0.0,1.0,0,0.9500,0.8100,2014/07/21 09,291.46,2014/07/21 09,2.0
17,2014/07/21 09,18,0,202,0.0,1.0,9,0.0,1.0,0,0.9300,0.8000,2014/07/21 09,291.46,2014/07/21 09,2.0
18,2014/07/21 09,19,0,202,0.0,1.0,9,0.0,1.0,0,0.9300,0.7600,2014/07/21 09,291.46,2014/07/21 09,2.0
19,2014/07/21 09,20,0,202,0.0,1.0,9,0.0,1.0,0,0.9200,0.7300,2014/07/21 09,291.46,2014/07/21 09,2.0
20,2014/07/21 09,21,5,202,0.0,1.0,9,0.0,1.0,0,0.9400,0.7100,2014/07/21 09,291.46,2014/07/21 09,2.0
21,2014/07/21 09,22,18,202,0.0,1.0,9,0.0,1.0,0,0.9283,0.7067,2014/07/21 09,291.46,2014/07/21 09,2.0
22,2014/07/21 09,23,0,202,0.0,1.0,9,0.0,1.0,0,0.8800,0.7000,2014/07/21 09,291.46,2014/07/21 09,2.0
23,2014/07/21 09,24,99,202,0.0,1.0,9,0.0,1.0,0,0.9000,0.6800,2014/07/21 09,291.46,2014/07/21 09,2.0
24,2014/07/21 09,25,2,202,0.0,1.0,9,0.0,1.0,0,0.9000,0.7600,2014/07/21 09,291.46,2014/07/21 09,2.0
25,2014/07/21 09,26,0,202,0.0,1.0,9,0.0,1.0,0,0.8800,0.7300,2014/07/21 09,291.46,2014/07/21 09,2.0
26,2014/07/21 09,27,0,202,0.0,1.0,9,0.0,1.0,0,0.8800,0.7000,2014/07/21 09,291.46,2014/07/21 09,2.0
27,2014/07/21 09,28,579,202,0.0,1.0,9,0.0,1.0,0,0.8700,0.6700,2014/07/21 09,291.46,2014/07/21 09,2.0
28,2014/07/21 09,29,0,202,0.0,1.0,9,0.0,1.0,0,0.8600,0.7100,2014/07/21 09,291.46,2014/07/21 09,2.0
29,2014/07/21 09,30,2,202,0.0,1.0,9,0.0,1.0,0,0.8500,0.7100,2014/07/21 09,291.46,2014/07/21 09,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674490,2014/06/03 04,48,0,154,0.0,1.0,4,0.0,1.0,1,0.7283,0.5797,2014/06/03 04,297.15,2014/06/03 04,0.0
674491,2014/06/03 04,49,0,154,0.0,1.0,4,0.0,1.0,1,0.7100,0.6200,2014/06/03 04,297.15,2014/06/03 04,0.0
674492,2014/06/03 04,50,0,154,0.0,1.0,4,0.0,1.0,1,0.7100,0.6200,2014/06/03 04,297.15,2014/06/03 04,0.0
674493,2014/06/03 04,51,0,154,0.0,1.0,4,0.0,1.0,1,0.7100,0.5600,2014/06/03 04,297.15,2014/06/03 04,0.0
674494,2014/06/03 04,52,0,154,0.0,1.0,4,0.0,1.0,1,0.7000,0.5600,2014/06/03 04,297.15,2014/06/03 04,0.0
674495,2014/06/03 04,53,0,154,0.0,1.0,4,0.0,1.0,1,0.6800,0.6300,2014/06/03 04,297.15,2014/06/03 04,0.0
674496,2014/06/03 04,54,0,154,0.0,1.0,4,0.0,1.0,1,0.6600,0.6100,2014/06/03 04,297.15,2014/06/03 04,0.0
674497,2014/06/03 04,55,0,154,0.0,1.0,4,0.0,1.0,1,0.6600,0.5500,2014/06/03 04,297.15,2014/06/03 04,0.0
674498,2014/06/03 04,56,3,154,0.0,1.0,4,0.0,1.0,1,0.8167,0.7600,2014/06/03 04,297.15,2014/06/03 04,0.0
674499,2014/06/03 04,57,0,154,0.0,1.0,4,0.0,1.0,1,0.8100,0.7300,2014/06/03 04,297.15,2014/06/03 04,0.0
674500,2014/06/03 04,58,0,154,0.0,1.0,4,0.0,1.0,1,0.8200,0.7000,2014/06/03 04,297.15,2014/06/03 04,0.0
674501,2014/06/03 04,59,2,154,0.0,1.0,4,0.0,1.0,1,0.8300,0.6700,2014/06/03 04,297.15,2014/06/03 04,0.0
674502,2014/06/03 04,60,0,154,0.0,1.0,4,0.0,1.0,1,0.8400,0.6500,2014/06/03 04,297.15,2014/06/03 04,0.0
674503,2014/06/03 04,61,0,154,0.0,1.0,4,0.0,1.0,1,0.8100,0.6600,2014/06/03 04,297.15,2014/06/03 04,0.0
674504,2014/06/03 04,62,0,154,0.0,1.0,4,0.0,1.0,1,0.7900,0.7200,2014/06/03 04,297.15,2014/06/03 04,0.0
674505,2014/06/03 04,63,0,154,0.0,1.0,4,0.0,1.0,1,0.7900,0.6900,2014/06/03 04,297.15,2014/06/03 04,0.0
674506,2014/06/03 04,64,0,154,0.0,1.0,4,0.0,1.0,1,0.7800,0.7600,2014/06/03 04,297.15,2014/06/03 04,0.0
674507,2014/06/03 04,65,0,154,0.0,1.0,4,0.0,1.0,1,0.7700,0.7200,2014/06/03 04,297.15,2014/06/03 04,0.0
674508,2014/06/03 04,66,0,154,0.0,1.0,4,0.0,1.0,1,0.7700,0.6900,2014/06/03 04,297.15,2014/06/03 04,0.0
674509,2014/06/03 04,67,0,154,0.0,1.0,4,0.0,1.0,1,0.7800,0.6700,2014/06/03 04,297.15,2014/06/03 04,0.0
674510,2014/06/03 04,68,0,154,0.0,1.0,4,0.0,1.0,1,0.7798,0.6448,2014/06/03 04,297.15,2014/06/03 04,0.0
674511,2014/06/03 04,69,0,154,0.0,1.0,4,0.0,1.0,1,0.7600,0.6100,2014/06/03 04,297.15,2014/06/03 04,0.0
674512,2014/06/03 04,70,1,154,0.0,1.0,4,0.0,1.0,1,0.7500,0.7100,2014/06/03 04,297.15,2014/06/03 04,0.0
674513,2014/06/03 04,71,0,154,0.0,1.0,4,0.0,1.0,1,0.7400,0.6600,2014/06/03 04,297.15,2014/06/03 04,0.0
674514,2014/06/03 04,72,0,154,0.0,1.0,4,0.0,1.0,1,0.7100,0.6800,2014/06/03 04,297.15,2014/06/03 04,0.0
674515,2014/06/03 04,73,0,154,0.0,1.0,4,0.0,1.0,1,0.7200,0.6500,2014/06/03 04,297.15,2014/06/03 04,0.0
674516,2014/06/03 04,74,0,154,0.0,1.0,4,0.0,1.0,1,0.7000,0.7100,2014/06/03 04,297.15,2014/06/03 04,0.0
674517,2014/06/03 04,75,0,154,0.0,1.0,4,0.0,1.0,1,0.6900,0.6700,2014/06/03 04,297.15,2014/06/03 04,0.0
674518,2014/06/03 04,76,4,154,0.0,1.0,4,0.0,1.0,1,1.0000,0.9200,2014/06/03 04,297.15,2014/06/03 04,0.0
674519,2014/06/03 04,77,13,154,0.0,1.0,4,0.0,1.0,1,0.9900,0.6600,2014/06/03 04,297.15,2014/06/03 04,0.0

In [6]:
# Check if contains NaN
taxi_with_weather.isnull().values.any()

False

In [7]:
taxi_with_weather.to_csv("14taxi_with_weather.csv", index = False)